@use '../../styles/variaveis'



.topo-produtos
    height: 8.875rem
    background-color: variaveis.$button-color
    display: flex
    justify-content: center
    align-items: center
    color: variaveis.$text-color
    font-size: 1rem