
    
$font-stack: 'Montserrat'

$text-color: #fff
$text-color-secondary: #000
$text-color-details: #FB5C5C
$body-background-color: #271B31
$background-color: #111
$background-color-secodary: #1d1d1d
$container-border-radius: 10px
$card-border-radius: 5px
$gradiente: linear-gradient(90deg, #52faf2 0%, rgba(221,36,118,1)80%)