@use '../../styles/variaveis'

.menu

  display: flex
  justify-content: space-around
  align-items: center
  background-color: variaveis.$text-color
  color: variaveis.$background-color-secodary
  font-family: variaveis.$font-stack
  height: 7vh
  
  width: 100%

  a
    display: flex
    align-items: end
    text-decoration: none
    font-family: variaveis.$font-stack
    color: variaveis.$background-color-secodary
    svg
      font-size: 1.5rem
      margin-right: 0.5rem
  span
    font-weight: bold
