@use '../../styles/variaveis'


.menu
  display: flex
  justify-content: space-between
  align-items: center
  background-color: variaveis.$text-color
  color: variaveis.$background-color-secodary
  font-family: variaveis.$font-stack
  height: 7vh
  padding: 0px 247px 0px 247px

  a
    text-decoration: none
    font-family: variaveis.$font-stack
    color: variaveis.$background-color-secodary
  span
    font-weight: bold
