@use '../../styles/variaveis'

nav
    display: flex
    justify-content: center
    ul
        list-style: none
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0
        margin: 0
        
    li
        display: flex
        justify-content: space-between
        align-items: center
        gap: 2rem
    a
        text-decoration: none
        color: #333
        padding: 10px
        font-size: 16px

    span
        color: variaveis.$text-color-details
    
